@import url('./modules/reset.css');
/* @import url('./modules/theme.css'); */
@import url('./modules/typography.css');


:root {

    /* Site colors */
    --primaryBlue:#3dc9b3;
    --primaryBlueHover:#34af9d;
    --primaryBlueTransparent:#3dc9b360;
    --primaryWhite: white;
    --primaryBlack: black;
    --primaryPink: #FF007F;
    --primaryPinkTransoarent: #FF007F59;

    /* Gradients */
    --gradientDark:rgba(192,192,192,1);
    --gradientBright:rgba(255,255,255,0.8);
    --gradientBrighter:rgba(255,255,255,0.45);

    /* Text-shadow */
    --textShadowDark:rgba(0,0,0,0.62);
    --textShadowBright:rgba(0,0,0,0.20);
    --whiteBorder: #ccc;
    --white:#fff;

    /* Error */
    --errorRed:#ff0000;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


