.card-wrapper {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    width: 80vw;
    margin: 1em auto 3em auto;
    gap: 1em;
}

.img-frame {
    aspect-ratio: 1/1;
    max-width: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.img {
    /* width: 100%; */
    height: 200%;
    object-fit: cover;
    animation: moveImage 60s linear infinite;
    animation-direction: alternate;
}

.icon {
    display: none;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 200;
    color: var(--primaryWhite);
    transition: opacity 2s ease-in;
}

.icon .liked{
    color: var(--primaryPink);
}

.img-frame:hover .icon {
    transition: 1s;
    display: block;
    opacity: 1;
}

@keyframes moveImage {
    0% {
        transform: translate(0,-50%);
    }

    100% {
        transform: translate(-50%,-50%);
    }
}
