.master-space-wrapper {
}

.main-five-img {
}
.more-portfolio {
}

.p {
    text-align: center;
    padding-bottom: 1em;
}


.portfolio-explanation {
    margin-bottom: 20px;
    font-size: 2em;
    margin: 3em auto 0.5em auto;
    text-align: center;
  }
